body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* hero section */

p {
    margin: 0;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 20px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    
}

img {
    width: 600px;
    height: 300px;
}

.img-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
}

.sec-text {
    font-size: 18px;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 100px;
}

.hero-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* info section */

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.card {
    border: 4px solid #3882F6;
    width: 170px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 120px;
}

/* qoute section */

.qoute {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tesla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 10px;
    font-style: italic;
}

cite {
    font-size: 25px;
    margin-left: 600px;
    font-weight: bold;
}


footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}